{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <link href="./css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <ul>
                {% for image in images %}
                    <li>
                        <div>
                            <img src="./images/{{ image.name }}" class="img-responsive img-thumbnail" data-toggle="tooltip" data-placement="left" title="{{ image.title }}" alt="Responsive image" />
                            <div class="info">
                                <p>{{ image.source }}</p>
                            </div>
                        </div>
                        <h6>{{ image.title }}</h6>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <nav class="span12">
            <ul id="page1" pageCount="{{ page.pageCount }}" pageNum="{{ page.num }}" pageSize="{{ page.size }}" pageLimit="{{ page.limit }}" numberOfPages="{{ page.numberOf }}"></ul>
        </nav>
    </div>
{% endblock %}

{% block foot %}
    {% parent %}
    <script src="./js/bootstrap-paginator.min.js"></script>
    <script src="./js/index.js"></script>
{% endblock %}