{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <link href="./css/start.css" rel="stylesheet">
    <link href="./css/jquery.simplecolorpicker.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container body-to-head">
        <form class="form-horizontal" action="/reptile">
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                    <select class="form-control" name="type" id="type">
                        <option value="0">链接</option>
                        <option value="1">分类</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="info" class="col-sm-2 control-label">信息</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="info" id="info" placeholder="信息">
                </div>
            </div>
            <div class="form-group">
                <label for="width" class="col-sm-2 control-label">图片宽度(px)</label>
                <div class="col-sm-2">
                    <select class="form-control" name="widthType" id="widthType">
                        <option value=">=">大于等于</option>
                        <option value=">">大于</option>
                        <option value="==">等于</option>
                        <option value="<=">小于等于</option>
                        <option value="<">小于</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="width" id="width" placeholder="图片宽度(px)">
                </div>
            </div>
            <div class="form-group">
                <label for="height" class="col-sm-2 control-label">图片高度(px)</label>
                <div class="col-sm-2">
                    <select class="form-control" name="heightType" id="heightType">
                        <option value=">=">大于等于</option>
                        <option value=">">大于</option>
                        <option value="==">等于</option>
                        <option value="<=">小于等于</option>
                        <option value="<">小于</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="height" id="height" placeholder="图片高度(px)">
                </div>
            </div>
            <div class="form-group">
                <label for="colorpicker" class="col-sm-2 control-label">色调</label>
                <div class="col-sm-10">
                    <select class="form-control" name="colorpicker" id="colorpicker">
                        <option value="0">无</option>
                        <option value="#7bd148">Green</option>
                        <option value="#5484ed">Bold blue</option>
                        <option value="#a4bdfc">Blue</option>
                        <option value="#46d6db">Turquoise</option>
                        <option value="#7ae7bf">Light green</option>
                        <option value="#51b749">Bold green</option>
                        <option value="#fbd75b">Yellow</option>
                        <option value="#ffb878">Orange</option>
                        <option value="#ff887c">Red</option>
                        <option value="#dc2127">Bold red</option>
                        <option value="#dbadff">Purple</option>
                        <option value="#e1e1e1">Gray</option>
                        <option value="#ffffff">white</option>
                        <option value="#000000">black</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="num" style="display:none;">
                <label for="num" class="col-sm-2 control-label">数量</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="num" id="num" placeholder="数量">
                </div>
            </div>
            <!--<div class="form-group" id="way">
                <label for="url" class="col-sm-2 control-label">方式</label>
                <div class="col-sm-10">
                    <select class="form-control" name="way">
                        <option value="0">深度</option>
                        <option value="1">广度</option>
                    </select>
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">开始抓取</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block foot %}
    {% parent %}
    <script src="./js/jquery.simplecolorpicker.js"></script>
    <script src="./js/start.js"></script>
{% endblock %}